{{> head }}

    {{> navBar }}

    <div>
        <div class="col-8">
            <h1>Alta imagen</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore non itaque perferendis aspernatur laudantium sapiente, deserunt quos quibusdam, esse amet officia! Itaque ad deserunt eaque eveniet quaerat amet in officiis.
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/dio.png" class="img-thumbnail" />
        </div>
    </div>

{{> footer }}